.container-fluid{
	margin:0px;
	padding:0px;
}
.col-sm-1{
	height:100px;
	width:100px;
}
.col-sm-2{
	height:100px;
	width:100px;
}
.col-sm-4{
	height:100px;
	width:100px;
}
.col-sm-12{
	height:100px;
	width:100px;
}
.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100px;
	height:100px;
}
