.container-fluid {
    padding: 0px;
	display:grid;
}

@media screen and (max-width: 600px) {
    body {
        background-color: aqua;
    }
}

h2 {
    text-align: center;
    margin-bottom: 0px;
}

.row {
    margin-bottom: 20px;
}

[class^="col-sm-*"] {
    padding: 5px;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}
.img-fluid{
	background-color:none;
}


